<%- partial('_partial/head') %>
<body>
    <%- partial('_partial/header') %>
    <section class="main">
        <%- body %>
    </section>
    <%- partial('_partial/footer') %>
    <script src="/js/marked.min.js"></script>
</body>
</html>