/* line 1, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/style.scss */
html, body {
  height: 100%;
}

/* line 10, ../sass/style.scss */
header {
  height: 50px;
  background: #ff5722;
  position: relative;
  color: #fff;
}
/* line 15, ../sass/style.scss */
header .banner {
  position: absolute;
  left: 40px;
  font-weight: 800;
  line-height: 50px;
}
/* line 20, ../sass/style.scss */
header .banner a {
  color: #fff;
  text-decoration: none;
}
/* line 25, ../sass/style.scss */
header ul {
  position: absolute;
  right: 0;
  list-style: none;
}
/* line 29, ../sass/style.scss */
header ul li {
  float: left;
}
/* line 31, ../sass/style.scss */
header ul li a {
  color: #fff;
  padding: 0 14px;
  line-height: 50px;
  font-size: 16px;
  text-decoration: none;
}
/* line 37, ../sass/style.scss */
header ul li a:hover {
  text-decoration: underline;
}

/* line 45, ../sass/style.scss */
.nav {
  float: right;
}

/* line 49, ../sass/style.scss */
.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 60px 0;
  min-height: 100%;
}
/* line 56, ../sass/style.scss */
.main article {
  width: 1000px;
  min-height: 60px;
  margin: 20px 0;
  padding: 10px 10px;
}
/* line 61, ../sass/style.scss */
.main article .title {
  height: 40px;
}
/* line 63, ../sass/style.scss */
.main article .title a {
  padding: 0 0 4px 0;
  display: block;
  font-size: 24px;
  font-weight: 800;
  width: 100%;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  color: #000;
}
/* line 75, ../sass/style.scss */
.main article .date {
  margin: 10px 0 4px 0;
  border-bottom: 1px solid #ccc;
  display: inline;
}
/* line 80, ../sass/style.scss */
.main article .article-tag-list {
  margin: 10px 0;
  list-style: none;
}
/* line 83, ../sass/style.scss */
.main article .article-tag-list li {
  float: left;
  margin-right: 10px;
}
/* line 86, ../sass/style.scss */
.main article .article-tag-list li a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 4px 8px;
  background: #ff4e44;
}
/* line 93, ../sass/style.scss */
.main article .article-tag-list li a:hover {
  background: #ff2323;
}
/* line 99, ../sass/style.scss */
.main article .content {
  padding: 40px 0;
}

/* line 105, ../sass/style.scss */
.archive {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
/* line 110, ../sass/style.scss */
.archive .year {
  font-size: 24px;
  font-weight: 800;
  padding: 4px 0;
  border-bottom: 1px solid #ccc;
  width: 80%;
  text-align: center;
  margin-top: 40px;
}
/* line 119, ../sass/style.scss */
.archive .archive_item {
  width: 80%;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
/* line 120, ../sass/style.scss */
.archive .archive_item .title {
  color: #555555;
  text-decoration: none;
}
/* line 123, ../sass/style.scss */
.archive .archive_item .title:hover {
  color: #ff7423;
}
/* line 130, ../sass/style.scss */
.archive .archive_item .date {
  float: right;
}

/* line 136, ../sass/style.scss */
footer {
  background: #171F26;
  width: 100%;
  height: 40px;
  color: #B9BBBD;
  font-size: 12px;
  display: flex;
  justify-content: center;
}
/* line 144, ../sass/style.scss */
footer .info {
  line-height: 40px;
}
/* line 146, ../sass/style.scss */
footer .info a {
  color: #B9BBBD;
}

/* line 153, ../sass/style.scss */
.md .highlight {
  background: #171F26;
  color: #fff;
  padding: 4px 0;
}
/* line 158, ../sass/style.scss */
.md * {
  margin: 4px 0;
}
/* line 162, ../sass/style.scss */
.md p a {
  text-decoration: none;
  color: #0b96a5;
}
