/* line 1, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/style.scss */
html, body {
  height: 100%;
}

/* line 10, ../sass/style.scss */
header {
  height: 50px;
  background: #ff5722;
  position: relative;
  color: #fff;
}
/* line 15, ../sass/style.scss */
header .banner {
  position: absolute;
  left: 40px;
  font-weight: 800;
  line-height: 50px;
}
/* line 20, ../sass/style.scss */
header .banner a {
  color: #fff;
  text-decoration: none;
}
/* line 25, ../sass/style.scss */
header ul {
  position: absolute;
  right: 0;
  list-style: none;
}
/* line 29, ../sass/style.scss */
header ul li {
  float: left;
}
/* line 31, ../sass/style.scss */
header ul li a {
  color: #fff;
  padding: 0 14px;
  line-height: 50px;
  font-size: 16px;
  text-decoration: none;
}
/* line 37, ../sass/style.scss */
header ul li a:hover {
  text-decoration: underline;
}

/* line 45, ../sass/style.scss */
.nav {
  float: right;
}

/* line 49, ../sass/style.scss */
.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 60px 0;
  min-height: 100%;
}
/* line 56, ../sass/style.scss */
.main article {
  width: 1000px;
  min-height: 60px;
  margin: 20px 0;
  padding: 10px 10px;
}
/* line 61, ../sass/style.scss */
.main article .title {
  height: 40px;
}
/* line 63, ../sass/style.scss */
.main article .title a {
  padding: 0 0 4px 0;
  display: block;
  font-size: 24px;
  font-weight: 800;
  width: 100%;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  color: #000;
}
/* line 75, ../sass/style.scss */
.main article .date {
  margin: 10px 0 4px 0;
  border-bottom: 1px solid #ccc;
  display: inline;
}
/* line 80, ../sass/style.scss */
.main article .article-tag-list {
  margin: 10px 0;
  list-style: none;
}
/* line 83, ../sass/style.scss */
.main article .article-tag-list li {
  float: left;
  margin-right: 10px;
}
/* line 86, ../sass/style.scss */
.main article .article-tag-list li a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 4px 8px;
  background: #ff4e44;
}
/* line 93, ../sass/style.scss */
.main article .article-tag-list li a:hover {
  background: #ff2323;
}
/* line 99, ../sass/style.scss */
.main article .content {
  padding: 40px 0;
}
/* line 102, ../sass/style.scss */
.main article .more {
  text-decoration: none;
  color: #ff9123;
  font-size: 18px;
  font-style: oblique;
}
/* line 107, ../sass/style.scss */
.main article .more:hover {
  text-decoration: underline;
  color: #ffb523;
}
/* line 114, ../sass/style.scss */
.main .tag-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin-top: 100px;
  justify-content: flex-start;
  padding: 0 40px;
}
/* line 121, ../sass/style.scss */
.main .tag-list .tag-list-item {
  margin: 20px 20px;
}
/* line 123, ../sass/style.scss */
.main .tag-list .tag-list-item .tag-list-link {
  text-decoration: none;
  background: #ff9123;
  padding: 10px 20px;
  color: #e80000;
}
/* line 128, ../sass/style.scss */
.main .tag-list .tag-list-item .tag-list-link:hover {
  background: #ffb523;
}
/* line 132, ../sass/style.scss */
.main .tag-list .tag-list-item .tag-list-count {
  background: #e80000;
  color: #ff9123;
  padding: 10px 10px;
}

/* line 141, ../sass/style.scss */
.archive {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
/* line 146, ../sass/style.scss */
.archive .year {
  font-size: 24px;
  font-weight: 800;
  padding: 4px 0;
  border-bottom: 1px solid #ccc;
  width: 80%;
  text-align: center;
  margin-top: 40px;
}
/* line 154, ../sass/style.scss */
.archive .year a {
  text-decoration: none;
  color: #666;
}
/* line 159, ../sass/style.scss */
.archive .archive_item {
  width: 80%;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
/* line 160, ../sass/style.scss */
.archive .archive_item .title {
  color: #555555;
  text-decoration: none;
}
/* line 163, ../sass/style.scss */
.archive .archive_item .title:hover {
  color: #ff7423;
}
/* line 170, ../sass/style.scss */
.archive .archive_item .date {
  float: right;
}

/* line 176, ../sass/style.scss */
.tags {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
/* line 181, ../sass/style.scss */
.tags .tag_item {
  width: 80%;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
/* line 182, ../sass/style.scss */
.tags .tag_item .title {
  color: #555555;
  text-decoration: none;
}
/* line 185, ../sass/style.scss */
.tags .tag_item .title:hover {
  color: #ff7423;
}
/* line 192, ../sass/style.scss */
.tags .tag_item .date {
  float: right;
}

/* line 198, ../sass/style.scss */
.pagination {
  margin-top: 30px;
}
/* line 200, ../sass/style.scss */
.pagination a {
  color: #ff7b23;
  text-decoration: none;
}
/* line 203, ../sass/style.scss */
.pagination a:hover {
  text-decoration: underline;
}
/* line 207, ../sass/style.scss */
.pagination .page-number {
  margin: 0 10px;
}
/* line 210, ../sass/style.scss */
.pagination .prev {
  margin-right: 4px;
}
/* line 213, ../sass/style.scss */
.pagination .next {
  margin-left: 4px;
}
/* line 216, ../sass/style.scss */
.pagination .current {
  color: #ff3232;
  font-size: 18px;
  font-weight: 800;
}

/* line 223, ../sass/style.scss */
footer {
  background: #171F26;
  width: 100%;
  height: 60px;
  color: #B9BBBD;
  font-size: 12px;
  display: flex;
  justify-content: center;
}
/* line 231, ../sass/style.scss */
footer .info {
  line-height: 60px;
}
/* line 233, ../sass/style.scss */
footer .info a {
  color: #B9BBBD;
}

/* line 240, ../sass/style.scss */
.md h2 {
  padding-top: 10px;
}
/* line 243, ../sass/style.scss */
.md ul {
  list-style: circle;
  margin: 1em 0;
  padding: 0 20px;
}
/* line 248, ../sass/style.scss */
.md code {
  background: #263238;
  color: #fff;
  padding: 0 0.3em;
  line-height: 1.5;
}
/* line 254, ../sass/style.scss */
.md .headerlink {
  border-top: 1px solid #000;
  display: block;
}
/* line 258, ../sass/style.scss */
.md * {
  margin: 4px 0;
}
/* line 261, ../sass/style.scss */
.md p {
  margin: 10px 0;
  line-height: 1.5;
}
/* line 265, ../sass/style.scss */
.md a {
  text-decoration: none;
  color: #0b96a5;
}
/* line 268, ../sass/style.scss */
.md a:hover {
  text-decoration: underline;
}
/* line 272, ../sass/style.scss */
.md figure, .md pre {
  padding: 4px 10px;
  background: #263238;
  color: #fff;
  overflow: scroll;
}
