<footer>
    <div class="info"><span>Powered By <a href="https://hexo.io/">Hexo</a></span>&nbsp;&nbsp;&nbsp;&nbsp;<span>Theme by <a href="https://github.com/showonne/hexo_showonne"><%= theme.author %></a></span></div>
</footer>